<!doctype html>

<html ng-app="myApp">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Talent Tree Skeleton</title>

	<link rel="stylesheet" href="public/libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="public/libs/font-awesome/css/font-awesome.min.css">

	<link rel="stylesheet/less" type="text/css" href="public/css/styles.less?version=2.0" />

</head>

<body ng-controller="TalentController">

	<div class="sidebar" resize ng-style="style()">
		<ul class="sidebar-list top">
			<li class="sidebar-icon"><a ng-click="settings = 'users'" href="#" activate-me active-group="sidebar-top"><i class="fa fa-user"></i></a></li>
			<li class="sidebar-icon"><a ng-click="settings = 'talents'" class="active" activate-me active-group="sidebar-top" href="#"><i class="fa fa-cogs"></i></a></li>
			<li class="sidebar-icon"><a ng-click="settings = 'rows'" href="#" activate-me active-group="sidebar-top"><i class="fa fa-list-ul"></i></a></li>
			<li class="sidebar-icon"><a class="simulate" href="#"><i class="fa fa-play"></i></a></li>
		</ul>
		<ul class="sidebar-list bottom">
			<li class="sidebar-icon"><a ng-click="settings = 'help'" href="#"><i class="fa fa-question"></i></a></li>
			<li class="sidebar-icon"><a href="https://github.com/chrishcain/AngularTT"><i class="fa fa-github"></i></a></li>
			<li class="sidebar-icon"><a href="http://twitter.com/chriscaindev"><i class="fa fa-twitter"></i></a></li>
		</ul>
	</div>
	<div class="config-place" resize ng-style="style()" ng-init="settings = 'welcome'">
		<div class="inner" resize ng-style="modStyle(0)">
			<div class="talent-settings wrapper" ng-show="settings == 'talents'">
				<h1>Talent Settings</h1>
				<div class="form-container" ng-show="selectedTalent">
					<div class="inner">
						<form role="form" name="talentForm">
							<label for="talentName">Name of Talent</label>
							<input type="text" class="form-element" placeholder="Talent Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Talent Name'" id="talentName" ng-model="selectedTalent.talentName">
							<div class="form-element block">
								<label for="max-points">Max Points</label>
								<select id="max-points" ng-model="selectedTalent.maxPoints" ng-options="p for p in maxPointsOptions">
									
								</select>
							</div>
							
							<div class="form-element block">
								<label for="points">Prereq Talent</label>
								<select id="points" ng-model="selectedTalent.prereq" ng-options="t for t in prereqOpts">

								</select>
							</div>
							<label for="desc">Talent Description</label>
							<textarea class="form-element" name="desc" id="desc" cols="30" rows="5" placeholder="Enter a description" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter a description'" ng-model="selectedTalent.description"></textarea>
							<button class="form-element right" ng-click="toggleAdvancedOptions()">Advanced Settings <i class="fa fa-caret-right"></i></button>
						</form>
					</div>
				</div>
				<div class="form-container" ng-show="!selectedTalent">
					<div class="no-talent">
						<h3>No Talent Selected</h3>
						<p>Select a talent to configure it!</p>
					</div>
				</div>
			</div>
			<div class="row-settings wrapper help" ng-show="settings == 'rows'">
				<h1>Row Settings</h1>
				<div class="form-container">
					<div class="inner">
						<h3>Talents needed in row before next:</h3>
						<label for="row-settings-1">Row 1</label>
						<div class="form-element block">
							<select class="dropdown" id="row-settings-1">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
						<label for="row-settings-2">Row 2</label>
						<div class="form-element block">
							<select class="dropdown" id="row-settings-2">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
						<label for="row-settings-3">Row 3</label>
						<div class="form-element block">
							<select class="dropdown" id="row-settings-3">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
						<label for="row-settings-4">Row 4</label>
						<div class="form-element block">
							<select class="dropdown" id="row-settings-4">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="user-settings wrapper help" ng-show="settings == 'users'">
				<h1>User Settings</h1>
				<div class="form-container">
					<div class="inner">
						<h3>TODO: Incorporate User Profiles</h3>
					</div>
				</div>
			</div>
			<div class="help-settings wrapper help" ng-show="settings == 'help'">
				<h1>Help</h1>
				<div class="form-container">
					<div class="inner">
						<h4><i class="fa fa-user"></i> User Settings</h4>
						<p>Create account</p>
						<p>Manage which tree is being edited</p>
						<p>Export talent tree</p>
						<h4><i class="fa fa-cogs"></i> Individual Talent Settings</h4>
						<p>(Automatically brought up when talent is clicked on)</p>
						<p>Change name, description, image, prerequisite talents, and more</p>
						<h4><i class="fa fa-list-ul"></i> Row Settings</h4>
						<p>Set number of talents needed to put points in the subsequent row</p>
						<h4><i class="fa fa-play"></i> Simulate</h4>
						<p>Simulate using Talent Tree on browser (will stay in current window)</p>
						<h4><i class="fa fa-eye"></i> Visual Display</h4>
						<p>Hover over talent box to either configure or disable</p>
						<h4><i class="fa fa-list-ol"></i> Textual Display</h4>
						<p>Select row on left side of project window, click to edit talent</p>
					</div>
				</div>
			</div>
			<div class="welcome-settings wrapper help" ng-show="settings == 'welcome'">
				<h1>Create Tree</h1>
				<div class="form-container">
					<div class="inner">
						<h3>Welcome!</h3> 
						<h3>This site will allow you to create and customize a talent tree, all within your browser!</h3>
						<h3 class="more">To begin, fill out the form below.</h3>
						<label for="treeName">Name of Tree</label>
						<input type="text" class="form-element" placeholder="Tree Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tree Name'" id="treeName" ng-model="tree.treeName">
						<label for="tree-rows">Rows</label>
						<div class="form-element block">
							<select class="dropdown" id="tree-rows">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>
						<label for="tree-cols">Columns</label>
						<div class="form-element block">
							<select class="dropdown" id="tree-cols">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>
						<button class="form-element" ng-click="makeTree()">Create</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="extra-config" resize ng-style="style()" ng-init="advancedOptions=false" ng-class="{active: advancedOptions}">
		<div class="inner">
			<h1><i class="fa fa-cogs"></i></h1>
			<div class="extra-form-container">
				<label for="talentImage">Talent Image</label>
				<img src="http://placehold.it/300x300/fff" alt="" id="talentImage">
				<button class="form-element" id="addImage">Choose Image...&nbsp&nbsp <i class="fa fa-picture-o"></i></button>
				<label for="points-pser">Levels / Talent Increase <i class="fa fa-question-circle"></i></label>
				<div class="form-element block">
					<select class="dropdown" id="poinsts-per">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>
			</div>
		</div>
	</div>


	<div class="talent-tree" resize ng-style="style()">
		<div class="inner">
			<div class="display-type">
				<h5><a href="#" class="left active" activate-me="treeDisplay" ng-click="treeType='visual'"><i class="fa fa-eye"></i></a></h5><h5><a href="#" activate-me="treeDisplay" ng-click="treeType = 'textual'"><i class="fa fa-list-ol"></i></a></h5>
			</div>
			<h1>{{tree.treeName}}</h1>
			<div class="tree-container" ng-init="treeType='visual'" ng-show="initialize">
				<div class="visual-container show-animation" ng-show="treeType == 'visual'">
					<div class="row-backgrounds">
						<div ng-repeat="row in treeRows" class="bg">
							<h3>Row {{row.columns[0].row_id}}</h3>
						</div>
					</div>
					<ul class="list-row" id="row{{row}}" ng-repeat="row in treeRows">
						<li class="tree-li" ng-class="{'disabled': talent.disabled, 'selected': talent == selectedTalent}" ng-repeat="talent in row.columns" ng-mouseover="displayStuff(talent)" ng-mouseleave="displayStuff(null)">
							<div class="li-container">		
								<div class="prereq-connection" ng-show="!(talent.prereq == 'None')"></div>
								<div class="options-container">
									<div class="control enable">
										<a ng-click="disable(talent)"><i class="fa fa-ban"></i></a>
									</div>
									<div class="control config">
										<a ng-click="setSelected(talent)"><i class="fa fa-gear"></i></a>
									</div>
								</div>
								<div class="points-display">
									<p><span class="spent">{{talent.pointsIn}}</span>/<span class="max">{{talent.maxPoints}}</span></p>
								</div>
								<div class="talents-info">
									<div class="inefo-container">
										<p class="nvame">{{hovedredTalent.talentName}}</p>
										<p class="dedscription">{{hovseredTalent.description}}</p>
										<p class="prsereq">{{hoveredTdalent.prereq}}</p>
										<p class="exdtra-info">{{hovecredTalent.extraStuff}}</p>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="textual-container show-animation" ng-show="treeType == 'textual'">

					<div class="textual-row-container">
						<div class="side">
							<div class="mini-tree-display">
								<ul class="mini-list-row" id="row{{row}}" ng-repeat="row in treeRows">
									<li class="mini-list-col" ng-class="{notDisplayed: talent.disabled, strongBorder: talent.row_id == whichRow+1, active: talent == selectedTalent}" ng-repeat="talent in row.columns"></li>
								</ul>
							</div>
							<div class="row-list-container">
								<ul class="row-list">
									<li class="header" ng-repeat="row in treeRows">
										<a ng-click="changeTab(row)" ng-class="{active: row.row_num == whichRow}" class="row-header-link" href="#">Row {{row.row_num + 1}}</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="text-display" ng-repeat="row in treeRows" ng-show="whichRow == row.row_num">
							<ul class="row-display">
								<li ng-repeat="talent in row.columns" ng-class="{disabled: talent.disabled, active: talent == selectedTalent}" ng-click="setSelected(talent)">
									<div class="tInfo tSect">
										<p><span class="talent-header">Talent Name:</span> {{talent.talentName}}</p>
										<p><span class="talent-header">Max Points:</span> {{talent.maxPoints}}</p>
										<p><span class="talent-header">Prereq Talent:</span> {{talent.prereq}}</p>
										<p><span class="talent-header">Disabled: </span>{{talent.disabled}}</p>
									</div>
									<div class="tDesc tSect">
										<p><span class="talent-header">Description:</span> {{talent.description}}</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- bower packages -->
	<script src="public/libs/jquery/jquery.min.js"></script>
	<script src="public/libs/underscore/underscore.js"></script>
	<script src="public/libs/angular/angular.min.js"></script>
	<script src="public/libs/angular-animate/angular-animate.min.js"></script>
	<script src="public/libs/less/dist/less-1.6.0.min.js"></script>

	<!-- extra packages -->
	<script src="public/libs/extra/jquery.easydropdown.min.js"></script>

	<!-- local scripts -->
	<script src="public/js/app.js?version=1.0"></script>
	<script src="public/js/directives/talentDirectives.js?version=1.0"></script>
	<script src="public/js/services/rowService.js?version=1.0"></script>

</body>
</html>

</body>
</html>